.flex-wrapper {
  margin-top: 1px;
  margin-left: 1px; /* Esto puede causar un desplazamiento no deseado. Si no es necesario, considera eliminarlo */
  gap: 20px;
  margin-top:-10px;
}

.content-flex {
  display: flex;
  align-items: center;
  margin-top: 0px;
  height: 120px
}

.imagenReducida {
  width: 70px;
  height: auto;
  margin-right: 15px;
}

.mat-button {
  margin-top: 10px; /* Ajusta el margen superior del botón */
}

@media (max-width: 768px) {
  .category-card {
    width: calc(50% - 20px); /* Ajusta el tamaño de las tarjetas en tabletas */
  }
}

@media (max-width: 480px) {
  .category-card {
    width: 100%; /* Tarjetas de ancho completo en dispositivos móviles */
  }
}


  .db {
    display: flex; /* Utiliza Flexbox */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    left: 10%;
  }
  
  .action-button {
    flex: 2; /* Los botones ocupan todo el espacio disponible */
    margin-right: 40px; /* Añade un margen a la derecha para separar los botones */
  }

  .profile-container {
    display: flex; /* Utiliza Flexbox */
  }
  
  .little-profile {
    flex: 1; /* Hace que los mat-card ocupen todo el espacio disponible */
    margin-right: 20px; /* Margen derecho para separación entre los mat-card */
    height: 400px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Opcional: Ajusta la alineación horizontal */
  }

  .menu-right {
    right: 5000px; /* Ajusta la posición hacia la derecha según tu necesidad */
  }

  .content-flex {
    position: relative;
  }
  
  .mat-button {
    position: absolute;
    bottom: 20%;
    right: 0;
    margin: 80px;
  }
  